* { font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    margin: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(37, 36, 36);
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 120px;
    font-size: 15px;
    
}

.social {
    margin-left: 770px;
    gap: 30px;
}


header a {
    color: #EDEDED;
}

.backroudphoto {
  background-image: url(./image/IMAGE.svg);
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
}


.backroudphoto p {
    font-size: 80px;
    text-align: center;
}

.p {
    color: rgb(206, 206, 206);
}

.line {
    width: 90px;
    height: 10px;
    color: rgb(206, 206, 206);;
}
.backroudphoto button {
    background-color: transparent;
    width: 140px;
    height: 40px;
    border-color: white;
    color: white;
    margin-top: 30px;
}

.backimg {
    margin-top: 40px;
}

.work {
    width: 100%;
    height: 300px;
    background-color: #C7AA8B;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.items img {
    margin-top: 15px;
   margin-bottom: 15px;
   width: 89px;
   height: 120px;
}

.items h6{
    font-size: 20px;
}

.items p {
    font-size: 15px;
}

.quote {
    background-image: url(./image/IMAGE7.svg);
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote p {
    font-size: 49px;
    text-align: justify;
    color: #C7AA8B;
}

.line2 {
    width: 50px;
    height: 15px;
    cursor: #C7AA8B;
}

.team {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.team p {
    font-size: 30px;
    margin-top: 50px;
    margin-right: 50px;
}

.teamphoto {
    gap: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.p2 {
    font-size: 20px;
}

.testimonials {
    width: 100%;
    height: 400px;
    background-color: #F7F7F7;
    display: flex;
    gap: 80px;
    justify-content: center;
}

.testimonials p {
    color: #3232325C;
    text-align: center;
    margin-top: 30px;
    margin-left: 80px;
}

.testtext {
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

samp {
    color: #C7AA8B;
}

footer {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    gap: 40px;
}

footer button {
    width: 170px;
    height: 30px;
    color: #C7AA8B;
    background-color: transparent;
    border-color: #C7AA8B;
}

footer p {
    color: #858585;
    margin-left: 50px;
    font-size: 15px;
}

@media screen and (max-width: 970px) { 
   .team {
    font-size: 18px;
   }
    .teamphoto {
        gap: 20px;
        width: 180px;
        height: 120px;
        margin-right: 5px;
    }

    .team p {
        margin-right: 10px;
        font-size: 20px;
    }
}

@media screen and (max-width: 850px) {
    .team p{
        font-size: 15px;
        margin-right: 5px;
    }
    
    .team {
        font-size: 15px;
        gap: 10px;
    }
    .teamphoto {
        width: 180px;
        height: 100px;
        margin-right: 5px;
    }

    .work {
        gap: 15px;
        font-size: 15px;
    }

    .quote p {
        font-size: 30px;
    }

    footer {
        gap: 15px;
    }
}

@media screen and (max-width: 775px) {
    .work {
        gap: 10px;
        font-size: 12px;
        text-align: justify;
    }

    .items p {
        font-size: 12px;
    }

    .items img {
       width: 90px;
       height: 100px;
    }

    footer {
        gap: 10px;
    }
}


@media screen and (max-width: 710px){
    .teamimg {
        width: 160px;
        height: 290px;
    }
    .team p {
        font-size: 15px;
        text-align: center;
    }
    
    .team {
        font-size: 10px;
    }

    .p2 {
        font-size: 14px;
    }

    .teamlogo {
        width: 15px;
        height: 15px;
    }

    .testimonials {
        gap: 13px;
        font-size: 15px;
        height: 300px;
    }
    
    footer p{
        font-size: 10px;
    }

    footer button {
        width: 140px;
        height: 20px;
    }

    .footerimg {
        width: 180px;
        height: 40px;
    }
}

@media screen and (max-width: 635px) {
    .items img {
        width: 60px;
        height: 70px;
     }

     .items p {
        font-size: 9px;
     }

     .items h6 {
        font-size: 12px;
     }

     .backroudphoto p{
        font-size: 60px;
     }
}

@media screen and (max-width: 590px) {
    .quote p{
        font-size: 20px;
    }

    .teamimg {
        width: 130px;
        height: 250px;
    }

    .teamlogo {
        width: 11px;
        height: 11px;
    }

    .team {
        height: 400px;
    }

    .testtext {
        font-size: 10px;
        gap: 5px;
    }
}

@media screen and (max-width: 485px) {
    header {
        padding-left: 80px;
    }

    .backroudphoto p {
        font-size: 50px;
    }

    .items p{
        font-size: 6px;
    }

    .team p{
        font-size: 9px;
        margin-left: 10px;
    }

    .teamimg {
        width: 100px;
        height: 220px;
    }

    .teamlogo {
        width: 9px;
        height: 9px;
    }

    footer p {
        font-size: 6px;
        margin-right: 8px;
    }
}

@media screen and (max-width: 410px) {

    header {
        padding-left: 40px;
    }

    .testtext {
        font-size: 7px;
    }

    .quote p{
        font-size: 12px;
    }

    .quote {
        height: 200px;
    }

    footer p {
        margin-right: 10px;
    }

    footer button {
        font-size: 10px;
    }
}

@media screen and (max-width: 380px) {

    header {
        padding-left: 20px;
    }

    .teamimg {
        width: 80px;
        height: 150px;
    }

    .teamlogo {
        width: 5px;
        height: 5px;
    }

    .team {
        height: 300px;
    }

    .testimonials {
       height: 200px;
    }

    .backroudphoto {
        height: 300px;
        font-size: 10px;
    }

    .backroudphoto p{
        font-size: 35px;
    }

    .backroudphoto button {
        width: 100px;
        height: 20px;
        border-color: white;
        color: white;
        margin-top: 20px;
    }
}